@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-saffron: #ff671f;
  --color-white: #ffffff;
  --color-green: #046a38;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
