@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-saffron: #ff671f;
  --color-white: #ffffff;
  --color-green: #046a38;
  --color-primary: #cfc7e9;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
